body {
  background-color: blanchedalmond;
}

h1 {
  color: rgb(102, 38, 1);
  font-family: "Courgette", cursive;
  font-size: 80px;
  position: fixed;
  left: 55%;
  margin-left: -570px;
  width: 1140px;
}

button {
  position: fixed;
  left: 55%;
  margin-left: -780px;
  margin-top: 150px;
  width: 200px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(219, 185, 31);
  background-color: #052f4b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #1b1e42;
}

.button:active {
  background-color: #1b1e42;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img {
  width: 200px;
  margin-top: 700px;
  margin-left: 150px;
}

.pizza:hover {
  animation: pizza 2s;
}
@keyframes pizza {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(1000px);
  }
}

#text {
  position: fixed;
  left: 55%;
  margin-left: -560px;
  margin-top: 150px;
  margin-right: 100px;
  margin-bottom: -400px;
  font-size: 18px;
  text-align: left;
  color: black solid;
}
